<h1>Here are all of my tasks:</h1>

<ul>
  <% @tasks.each do |task| %>
    <% if task.completed == true %>
      <li><input type="checkbox" checked ><%= link_to task['title'], task_path(task) %></li>

    <% else %>
      <li><input type="checkbox" ><%= link_to task['title'], task_path(task) %></li>
    <% end %>

    <%= link_to "Remove task", task_path(task), method: :delete, data: { confirm: "Are you sure you want to delete '#{task.title}'?" } %>
  <% end %>
</ul>

<%= link_to "Create a new task", new_path %>

<ul>
  <% @tasks.each do |task| %>
    <% if task.completed == true %>
      <li><input type="checkbox" checked ><%= link_to task['title'], task_path(task) %></li>

    <% else %>
      <li><input type="checkbox" ><%= link_to task['title'], task_path(task) %></li>
    <% end %>

    <%= link_to task_path(task), method: :delete, data: { confirm: "Are you sure you want to delete '#{task.title}'?" } do %>
      <i class="fas fa-trash"></i>
    <% end %>
  <% end %>
</ul>

<i class="fas fa-trash"></i>
